@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;1,400&family=Viga&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body {
    background-color:#EDE9D0;
    font-family: Sarabun, serif;
    color:#BB8378;
}

.logo {
    font-family: Viga, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color:  #BB8378;
}



